### **[실습] 기본 실습**

| Name | Age | City | Salary |
| --- | --- | --- | --- |
| Alice | 25 | New York | 70000 |
| Bob | 30 | Los Angeles | 80000 |
| Charlie | 35 | Chicago | 120000 |
| David | 40 | Houston | 90000 |
| Eve | 28 | San Francisco | 75000 |
- 다음 데이터를 활용하여 실습 문제를 해결하세요.

DataFrame객체 생성 : 위의 데이터를 사용해 DataFrame객체를 생성하세요.

In [48]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 28],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'San Francisco'],
    'Salary' : [70000, 80000, 120000, 90000, 75000]
}

df = pd.DataFrame(data)
df

      Name  Age           City  Salary
0    Alice   25       New York   70000
1      Bob   30    Los Angeles   80000
2  Charlie   35        Chicago  120000
3    David   40        Houston   90000
4      Eve   28  San Francisco   75000

2. **열과 행 선택**
    - `Name`과 `City` 열을 선택하여 출력하세요.
    - 나이가 30 이상인 행을 선택하여 출력하세요.

In [64]:
print(df[['Name', 'City']])

# 특정 열 선택
print(df[df['Age']] >= 30)

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago
3    David      Houston
4    Frank      Seattle

KeyError: "None of [Index([25, 30, 35, 40, 33], dtype='int64')] are in the [columns]"

3. **행과 열 추가**
    - `Country` 열을 추가하고, 모두 'USA'로 설정하세요.
    - 새로운 행을 추가하세요. (Name: Frank, Age: 33, City: Seattle, Salary: 85000)

In [53]:
df

      Name  Age           City  Salary
0    Alice   25       New York   70000
1      Bob   30    Los Angeles   80000
2  Charlie   35        Chicago  120000
3    David   40        Houston   90000
4      Eve   28  San Francisco   75000

In [55]:
df['Country'] = ['USA', 'USA', 'USA', 'USA', 'USA']
df
df.loc[4] = ['Frank', 33, 'Seattle', '85000', 'USA']
print(df)

      Name  Age         City  Salary Country
0    Alice   25     New York   70000     USA
1      Bob   30  Los Angeles   80000     USA
2  Charlie   35      Chicago  120000     USA
3    David   40      Houston   90000     USA
4    Frank   33      Seattle   85000     USA

C:\Users\Playdata\AppData\Local\Temp\ipykernel_11112\1437075124.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '85000' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[4] = ['Frank', 33, 'Seattle', '85000', 'USA']

4. **데이터 삭제**
    - `Salary` 열을 삭제하세요.
    - 'David'가 있는 행을 삭제하세요.

In [66]:
df

      Name  Age         City Country
0    Alice   25     New York     USA
1      Bob   30  Los Angeles     USA
2  Charlie   35      Chicago     USA
3    David   40      Houston     USA
4    Frank   33      Seattle     USA

In [65]:
df.drop('Salary', axis=1)
print(df)
df = df.drop('David', axis=0)
print(df)

KeyError: "['Salary'] not found in axis"

5. **데이터 수정**
    - `Age`가 35 이상인 사람들의 `Salary`를 5% 증가시키세요.
    - 'Alice'의 `City`를 'Boston'으로 수정하세요.

In [51]:
df_filtered = df[(df['Age'] >= 35) & (df['City'] == 'Boston')]
print(df_filtered)

Empty DataFrame
Columns: [Name, Age, City, Salary]
Index: []

6. **데이터 타입 변환**
    - `Age`와 `Salary`의 데이터 타입을 float로 변환하세요.