In [7]:
import pandas as pd

s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [8]:
print(s['b'])

20

In [9]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [10]:
# 특정 열 선택
print(df['Name'])

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [13]:
print(df.loc[1])
print(df.iloc[2])

Name               Bob
Age                 30
City       Los Angeles
country            USA
Name: 1, dtype: object
Name       Charlie
Age             35
City       Chicago
country        USA
Name: 2, dtype: object

In [16]:
print(df[df['Age'] >= 30])
print(df['Age'] >= 30) #조건만 확인

      Name  Age         City country
1      Bob   30  Los Angeles     USA
2  Charlie   35      Chicago     USA
3    David   40      Houston     USA
0    False
1     True
2     True
3     True
Name: Age, dtype: bool

In [11]:
df['country'] = ['USA','USA','USA','USA']
df

      Name  Age         City country
0    Alice   25     New York     USA
1      Bob   30  Los Angeles     USA
2  Charlie   35      Chicago     USA
3    David   40      Houston     USA

In [ ]:
df.loc[4] = ['Eve', 28 , 'San Francisco', 'USA']
df

In [ ]:
df = df.drop('Country', axis=1)

In [17]:
df.drop(1, inplace=True)

In [20]:
# df.loc[행, 열] = 값
df.loc[0, 'age'] = 31
df

      Name   Age      City country   age
0    Alice  25.0  New York     USA  31.0
2  Charlie  35.0   Chicago     USA   NaN
3    David  40.0   Houston     USA   NaN
1      NaN   NaN       NaN     NaN  31.0

In [ ]:
df['age'] = df['Age'].astype(float)
print(df.dtypes)

#object 형 : 모든게 다 들어올수있다.

Name        object
Age        float64
City        object
country     object
age        float64
dtype: object

In [22]:
df_filtered = df[df['Age'] >= 30]
df_filtered

      Name   Age     City country   age
2  Charlie  35.0  Chicago     USA  35.0
3    David  40.0  Houston     USA  40.0

In [23]:
df_filtered = df[(df['Age'] >= 30) & (df['City'] == 'Chicago')]
df_filtered

      Name   Age     City country   age
2  Charlie  35.0  Chicago     USA  35.0

In [24]:
arrays = [
    ['Group1', 'Group1', 'Group2', 'Group2'],
    ['Subgroup1', 'Subgroup2', 'Subgroup1', 'Subgroup2']
]
index = pd.MultiIndex.from_arrays(arrays, names=('Group', 'Subgroup'))

data = {'Value': [10, 20, 30, 40]}
df_multi = pd.DataFrame(data, index=index)
print(df_multi)

                  Value
Group  Subgroup
Group1 Subgroup1     10
       Subgroup2     20
Group2 Subgroup1     30
       Subgroup2     40

In [30]:
# Group1의 데이터 선택
df_multi.loc['Group1'].loc['Subgroup1']

Value    10
Name: Subgroup1, dtype: int64

In [31]:
#loc[] : 라벨을 기반으로 데이터를 선택한다

print(df.loc[1, 'Name'])

nan

In [32]:
print(df.iloc[1, 0])

Charlie

In [33]:
print(df.at[1, 'Name'])

nan

In [34]:
print(df.iat[1, 0])

Charlie

In [37]:
df_filtered = df[(df['Age'] >= 30) & (df['City'] == 'Chicago')]
df_filtered

      Name   Age     City country   age
2  Charlie  35.0  Chicago     USA  35.0

In [ ]:
# loc / iloc / at / iat [행, 열]
# loc[라벨. 라벨], at[라벨, 라벨] => 이름으로 접근
# iloc[정수] /  iat[정수, 정수] => 위치로 접근

In [5]:
import pandas as pd

df = pd.read_csv('data.csv')
df.head(5)

EmptyDataError: No columns to parse from file

In [ ]:
df = pd.read_csv('data.csv', index_col='ID')
df

In [6]:
df = pd.read_excel('data.xlsx', sheet_name='sheet1')
print(df.head())

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [8]:
import json

df = pd.read_json('data.json')
print(df.head())

ValueError: Expected object or value

In [9]:
df.to_csv('output.csv', index=False)

NameError: name 'df' is not defined

In [ ]:
df.to_excel('output.xlsx', index=False, sheet_name='Sheet1')

In [ ]:
df.to_json('output.json')

In [ ]:
df = df.read_json('data.json')
df

In [ ]:
df.dropna(inplace=True)
df

In [ ]:
df['Salary'] = df['Salary'].fillna(df['Salary'].median())
df

In [12]:
data = {'Name': ['Alice', 'Bob', 'Alice', 'David'],
        'Age': [25, 30, 25, 40]}

df = pd.DataFrame(data)

# 중복값 확인
print(df.duplicated())

0    False
1    False
2     True
3    False
dtype: bool

In [13]:
df = df.drop_duplicates()
df

    Name  Age
0  Alice   25
1    Bob   30
3  David   40

In [16]:
data = {'Name': ['Alice', 'Bob', 'Alice', 'David'],
        'Age': [25, 30, 28, 40]}

df = pd.DataFrame(data)

# 중복값 확인
print(df.drop_duplicates(subset=['Name', 'Age']))
print()
print(df.drop_duplicates(subset=['Name', 'Age']))

    Name  Age
0  Alice   25
1    Bob   30
2  Alice   28
3  David   40

    Name  Age
0  Alice   25
1    Bob   30
2  Alice   28
3  David   40

In [19]:
df_sorted = df.sort_values(by='Age')
print(df_sorted)

    Name  Age
0  Alice   25
2  Alice   28
1    Bob   30
3  David   40

In [21]:
df_sorted = df.sort_values(by= 'Age', ascending=False)
print(df_sorted)

    Name  Age
3  David   40
1    Bob   30
2  Alice   28
0  Alice   25

In [22]:
df_sorted_index = df.sort_index()
print(df_sorted_index)

    Name  Age
0  Alice   25
1    Bob   30
2  Alice   28
3  David   40

In [25]:
df_filtered = df[df['Age'] >= 30][['Name', 'Age']]
print(df_filtered)

    Name  Age
1    Bob   30
3  David   40

In [ ]:
# Age가 30 이상이고, Name이 'Bob'인 데이터 필터링
df_filtered = df[(df['Age'] >= 30) & (df['Name'] == 'Bob')]
print(df_filtered)